<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/aop
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
   http://www.springframework.org/schema/tx
   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
   http://www.springframework.org/schema/context     
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <bean name = "c" class = "java.entities.User">
     <property name = "uname" value = "yang"/>
   </bean>
   <bean name = "dao" class = "java.dao.UserDao">
     <property name = "sessionFactory" ref = "sf"/>
   </bean>
   
   <bean name = "sf" class = "org.springframework.orm.hibernate3.LocalSessionFactoryBean">
     <property name = "dataSource" ref = "ds"/>
     <property name = "mappingResources">
          <list>
               <value>resource/User.hbm.xml</value>
          </list>
     </property>
     <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.MySQLDialect
                hibernate.show_sql=true
                hbm2ddl.auto=update
            </value>
        </property>
   </bean>

   <bean name = "ds" class = "org.hibernate.dialect.MySQL5Dialect">
        <property name="connection.url">jdbc:mysql://localhost:3307/people?useUnicode=true&amp;characterEncoding=utf-8</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123</property>
        <property name="show_sql">true</property>
   </bean>


</beans>